<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Archer's Network</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<header>
		<img class="logo" src="images/arch_logo.png" alt="">

		<nav>
			<div class="search">
				<input type="text" placeholder="Search" required>
				<button>Search</button>
			</div>
			
			<div class="menu">
				<ul class="link">
					<li><a href="main.html">Home</a></li>
					<li><a href="contactus.html">Contact Us</a></li>
					<li><a href="aboutus.html">About Us</a></li>
					<li><a href="login.html">Log In</a></li>
					<li><a href="registration.html">Register</a></li>
				</ul>
			</div>
		</nav>
	</header>

<!--COPY UP TO HERE!!!!!-->
	<section>
		<div class= "container">
			<center><h1>Welcome to <br> Archer's Network</h1></center>
		</div>
	</section>	

	<div class="button_container">
		<a href ="login.html">
			<button class="button button1" type="submit">Login</button>
		</a>
	</div>


	<style>
		h1{
    		padding: 20px 0;
    		text-align: center;
    		font-size: 3em;
		}
	</style>
</body>
</html>